.result-item {
  flex-direction: column;
  align-items: flex-start;
}

.autocomplete-results {
  --results-height: 53;
  width: 100%;
  position: relative;
  background: var(--primary-white);
  overflow-y: auto;
  min-height: calc(var(--results-height) * 1px);
  max-height: calc(var(--results-height) * 1px);
  box-shadow: 0 2px 2px 0 var(--box-shadow, 0.4);
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .autocomplete-results {
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 100%;
    left: 0;
  }
}

.subtext {
  display: flex;

  font-size: 14px;
  font-weight: normal;

  > span {
    color: var(--text-subtext);
    position: relative;
    padding: 0 0.6rem;
    white-space: nowrap;
  }

  > span:first-child {
    padding-left: 0;
  }

  > span:after {
    content: '';
    position: absolute;
    border-left: 1px solid var(--text-subtext);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
  }

  > span:last-child:after {
    display: none; /* Hide the divider for the last block */
  }
}
