.list {
  display: grid;
  width: 100%;
  margin: 0;
  padding: 0;
}

.list-item {
  width: 100%;
  padding: 1rem;
  background: var(--primary-white);
  border: 1px solid var(--border);
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;

  transition: background-color 0.2s ease;

  &.hoverable:hover {
    background: var(--lighter-blue);
    border: 1px solid var(--lighter-blue);
    cursor: pointer;
  }
}

.title {
  display: block;
  font-size: 14px;
  font-weight: bold;
}

.hightlight {
  color: var(--secondary-yellow);
  background-color: transparent;
}
